:root {
    --main-accent-color: #E5A00D;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(66, 69, 73);
    color: whitesmoke;
}

/* Header Styling */
header {
    background-color: rgb(30, 33, 36);
    color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin-bottom: 10px;
}

header input,
header select,
header button {
    margin: 10px 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}

header input,
header select {
    flex: 1;
}

header input {
    width: 300px;
}

header button {
    background-color: var(--main-accent-color);
    color: whitesmoke;
    cursor: pointer;
}

/* results card styling */
.resultsCard {
    background-color: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    width: calc(20% - 20px);
    box-sizing: border-box;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.resultsCard img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid var(--main-accent-color);
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.resultsCard p {
    color: whitesmoke;
    text-align: center;
    margin: 10px 0 0;
}

#options {
    visibility: hidden;
    text-align: left;
    margin: 20px 0;
}

#options #sort-header {
    display: inline;
    margin-right: 10px;
}

#sort-options {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-accent-color);
    color: whitesmoke;
    cursor: pointer;
    outline: none;
}

#pagination {
    text-align: center;
    margin: 20px 0;
    visibility: hidden;
}

#pagination button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-accent-color);
    color: whitesmoke;
    cursor: pointer;
    outline: none;
}

#pagination #page-number {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(30, 33, 36);
    color: whitesmoke;
    border-radius: 5px;
}

/* Modal Styling */
.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

/* Modal Content */
.modal-content {
    background-color: #1c1c1c;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    max-height: 90vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: whitesmoke;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* The Close Button */
.close {
    color: #aaa;
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#details {
    text-align: left;
    width: 100%;
}

#details h2 {
    margin-top: 0;
    text-align: center;
}

#details img {
    display: block;
    margin: 0 auto 20px;
    width: 30%;
    height: auto;
    border-bottom: 2px solid var(--main-accent-color);
}

#details p {
    margin: 10px 0;
}

#details h3 {
    margin: 10px 0;
    text-align: center;
}

.watchlist {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#watchlist-content {
    background-color: rgb(66, 69, 73);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    max-height: 90vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: whitesmoke;
    overflow-y: auto;
}